

body {
	background-image: url('./img/keepdonuts.png');
	background-size: cover;
	
}


header {

	text-align: center;
	font-family: monospace;
	color: deeppink;
	
}

h1 {
	font-size: 30px;
	color: black;
}

h2 {
	color: white;
}

h3 {

	font-family: cursive;
	background-color: grey;
	font-weight: bold;
	color: white;
	width:1000px;
	margin: 20px;
	padding: 10px;
	border: solid;
}

table {
	background-color: white;
	width:700px;
	margin: 20px;
	padding: 10px;
	border: solid;
	border-width: 4px;
	text-align: center;
	vertical-align: center;

}

td {
	width: 300px;
	text-align: center;
	padding: 10px;
	font-weight: bolder;

}

#userInput{
	font-size: 16px;
	font-color: black;
	text-align: left;
	
}


/*#main {
	font-weight: bold;
	color: DarkTurquoise;
}*/